<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="lumina.kernel Target File" sequenceNumber="6">
<locations>
<location path="C:\Users\NeMewSys\Documents\GitHub\JarRepository\lumina.kernel\.settings\libs" type="Directory"/>
</locations>
</target>